   <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: linear-gradient(rgb(52,52,52), rgb(0,0,0));">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Brand</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">

                    <li class="nav-item"><a class="nav-link {% if category == 'home' %}active{% endif %}" href="{% url 'home' %}"><i class="typcn typcn-home"></i><span style="text-align: center;">Home</span></a></li>

                    <li class="nav-item"><a class="nav-link {% if category == 'sports' %}active{% endif %}" href="{% url 'sports' %}"><i class="fas fa-user"></i><span>Sports</span></a></li>

                    <li class="nav-item"><a class="nav-link {% if category == 'tech' %}active{% endif %}" href="{% url 'technology' %}"><i class="fas fa-table"></i><span>Technology</span></a></li>

                    <li class="nav-item"><a class="nav-link {% if category == 'science' %}active{% endif %}" href="{% url 'science' %}"><i class="far fa-user-circle"></i><span>Science and Space</span></a></li>

                    <li class="nav-item"><a class="nav-link {% if category == 'health' %}active{% endif %}" href="{% url 'health' %}"><i class="fas fa-user-circle"></i><span>Health & Food</span></a></li>

                    <li class="nav-item"><a class="nav-link {% if category == 'business' %}active{% endif %}" href="{% url 'business' %}"><i class="fas fa-user-circle"></i><span>Business</span></a></li>

                    <li class="nav-item"><a class="nav-link {% if category == 'entertainment' %}active{% endif %}" href="{% url 'entertainment' %}"><i class="fas fa-user-circle"></i><span>Entertainment</span></a></li>

                </ul>
            </div>
        </nav>